# dependencies
**/node_modules

# logs and locks
**/logs
package-lock.json

# build files
**/.vscode
podex.db
public/css/output.css
public/js/client-side-templates.js
public/js/htmx.min.js
public/js/json-enc.js
public/js/mustache.min.js
